<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register user</title>
    <script src="js/scripts.js" defer></script>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <main>
        <h2>Register Form</h2>
        <form>
            <label for="uname">User Name:</label>
            <input type="text" id="uname" name="uname">
            <label for="psword">Password:</label>
            <input type="text" id="psword" name="psword">
            <button id="register__btn">Register</button>
        </form>
    </main>
</body>
</html>